cap2/LanguageBasics/bin/Debug/netcoreapp3.1/LanguageBasics.dll
cap2/LanguageBasics/bin/Debug/netcoreapp3.1/LanguageBasics.pdb
cap2/LanguageBasics/obj/Debug/netcoreapp3.1/LanguageBasics.dll
cap2/LanguageBasics/obj/Debug/netcoreapp3.1/LanguageBasics.pdb
